body{
    text-align: center;
    width: 90vw;
    margin: auto;
}

h1{
    padding: 1rem;
    margin: 1rem;
    background-color:  midnightblue ;
    font-family: "Arial Black", sans-serif;
    color:dodgerblue;
}

h2{
    font-family: Arial, sans-serif;
    font-size: large;
    color: #337ab7;
    }
label {
    font-family: Arial, sans-serif;
     color: #337ab7;
}
#titre {
    text-align: center;
    color: midnightblue;
    font-family: Arial, sans-serif;
    margin-block-start: 0.5em;

}

.text-hover:hover{
    font-family: Arial, sans-serif;
    color: #337ab7;
}

#cadre{
    margin: auto;
    text-align: center;
    Border : 100px;
    border: dashed midnightblue;
}

#tab-date{
    margin-bottom: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: none;
    border: 100px;
    border: dashed orange;

}

.espacement-bas{
    margin-bottom: 2%;
}

table {
    margin: 1rem auto;
    border-collapse: collapse;

}

table, td, th{
    margin: 1rem auto;
    border: 0.3px;
    border: #337ab7 solid;
    font-family: Arial;
}

td, th{
    padding: 0.3px;
}
#endTab{
    display: none;

    padding-top: 1rem;
    padding-bottom: 1rem;

}


#mychart1{
    margin-inside: 10px;
    display: none;
    border-color: orange;
    border-style: dashed;
    padding: 5px;

}
